* {
    margin: 0;
    padding: 0;
}

:root {
    --light-red:  hsl(0, 100%, 67%);
    --orangey-yellow:  hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --light-slate-blue:  hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue:  hsla(256, 72%, 46%, 1);
    --persian-blue:  hsla(241, 72%, 46%, 0);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
}

h1 {
    padding: 20px 0px 20px 0px;
    font-size: 20px;
}

h2 {
    font-size: 22px;
}

h3 {
    text-align: left;
    margin-left: 18.75px;
    margin-bottom: 20px;
    font-size: 19px;
    color: var(--dark-gray-blue);
}

button {
    color: white;
    background-color: var(--dark-gray-blue);
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    height: 50px;
    font-size: 18px;
    border: 1px solid var(--dark-gray-blue);
    border-radius: 50px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.top-section {
   background-image: linear-gradient(to top,hsl(241, 81%, 54%),hsl(252, 100%, 67%));
   border-radius: 0px 0px 30px 30px;
   color: var(--light-lavender);
}

.number-circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    padding: 20px;
    margin-bottom: 30px;
}

.seventy-six {
    font-size: 60px;
    font-weight: 700;
}

.stats {
    width: 80%;
    height: 60px;
    margin-bottom: 18px !important;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    font-weight: 700;
    color: var(--dark-gray-blue);
}

.grey {
    color: var(--light-lavender);
}

.top-blurb {
    padding: 0px 50px 45px 50px;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.082);
}

.reaction .stat-title {
    color: var(--light-red);
}

.reaction img {
    position: relative;
    top: 4px;
    right: 5px;
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.068);
}

.memory .stat-title {
    color: var(--orangey-yellow); 
}

.memory img {
    position: relative;
    top: 4px;
    right: 5px;
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.103);
}

.verbal .stat-title {
    color: var(--green-teal);
}

.verbal img {
    position: relative;
    top: 3px;
    right: 5px;
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.089);
}

.visual .stat-title {
    color: var(--cobalt-blue);
}

.visual img {
    position: relative;
    top: 5px;
    right: 5px;
}

.attribution {
    margin-top: 20px;
	font-size: 12px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.fa-github {
    font-size: 30px;
    margin: 30px;
    color: var(--dark-gray-blue);
}